* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* ---------------------> COMPONENTE HEADER <--------------------- */

.user-container {
  background-color: #023031;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
}

.user-container img, .user-container h2 {
  margin: 0 30px;
}

.user-container h2 {
  width: 196px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav {
  background-color: #036B52;
  height: 78px;
  font-size: 28px;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #FAFAFA;
}

header nav a {
  text-decoration: none;
  color: white;
  width: 137px;
}

/* ---------------------> COMPONENTE HEADER <--------------------- */

/* ---------------------> COMPONENTE LOGIN <--------------------- */

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
  width: 100vw;
  height: 100vh;
}

.img-div {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.login-container form {
  padding: 94px;
  width: 697px;
  height: 314px;
  border: 1px solid b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.login-container form input {
  background-color: #FFFFFF;
  border: 1px solid #E1E5EB;
  width: 100%;
  height: 45px;
  padding: 12px 16px;
  outline: none;
}

.login-container form button {
  width: 100%;
  height: 40px;
  background-color: #003BE5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  color: white;
  font-weight: 700;
  margin-top: 8px;
}

/* ---------------------> COMPONENTE LOGIN <--------------------- */


/* ---------------------> COMPONENTE SEARCH <--------------------- */



.search-div {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-div input {
  width: 519px;
  height: 45px;
  border-radius: 6px;
  padding: 12px 16px;
  border: 1px solid #3D495C;
}

.search-div button {
  background-color: #003BE5;
  border-radius: 2px;
  width: 134px;
  height: 45px;
  padding: 8px 32px;
  margin-left: 10px;
  color: white;
  font-weight: 700;
}

.album-container > p {
  text-align: center;
  font-size: 1.5em;
}

.cards-container {
  background-color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.album-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  border: 1px solid #E1E5EB;
  margin: 8px;
  width: 220px;
  height: 400px;
  text-align: center;
  justify-content: space-between;
}

.album-div img {
  width: 100%;
}

.album-div p, .album-div a {
  margin: auto;
  font-weight: 500;
  text-decoration: none;
}

/* ---------------------> COMPONENTE SEARCH <--------------------- */

/* ---------------------> COMPONENTE ALBUM <--------------------- */



/* ---------------------> COMPONENTE ALBUM <--------------------- */


.notfound {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
}

/* ---------------------------------------- */

.album {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.album-data {
  background-color: #FAFAFA;
  box-shadow: 2px 2px 2px 2px black;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 25px;
  text-align: center;
  border-radius: 6px;
}

.album-data img {
  border: 2px solid rgb(68, 65, 65);
  width: 150px;
}

.album-songs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}

.songs {
  background-color: #f3f0f0;
  width: 450px;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 4px 4px black;
}

.page-favorites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-favorites > h2 {
  font-size: 2em;
  color: white;
  width: 60vw;
  background-color: #186845;
  box-shadow: 2px 2px black;
  padding: 10px;
  text-align: center;
  margin-bottom: 35px;
}

.fav-songs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.fav-songs div {
  background-color: #f3f0f0;
  width: 450px;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 4px 4px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.profile-edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  height: max-content;
  padding: 20px;
}

.profile-edit-form label {
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-weight: 500;
}

.profile-edit-form input, .profile-edit-form textarea {
  width: 519px;
  height: 45px;
  padding: 12px 16px;
  border: 1px solid #E1E5EB;
  resize: none;
  margin-top: 10px;
  outline: none;
}

.profile-edit-form button {
  width: 25%;
  height: 35px;
  background-color: #003BE5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  color: white;
  font-weight: 700;
  margin-top: 8px;
}

/* ---------------------------------------------- */

.page-profile {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.profile-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: max-content;
  padding: 40px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);;
}

.profile-data img {
  clip-path: circle();
  width: 200px;
  margin-top: 15px;
}

.profile-data a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 35px;
  text-decoration: none;
  background-color: #003BE5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  color: white;
  font-weight: 700;
  margin-top: 8px;
}